<!doctype html>
<html>

<head>
	<script src="js/vue-2.5.22.js"></script>
	<script type="text/javascript" src="/homey.js" data-origin="settings"></script>
	<script src="js/vue.js"></script>

</head>

<body>

	<div id="content">
		<h1 data-i18n="settings.title"></h1>

		<fieldset>
			<legend data-i18n="settings.subtitle"></legend>

			<table>
				<tr>
					<th>Count</th>
					<th>Id</th>
					<th>Data</th>
					<th>Title</th>
					<th></th>
					<th></th>
				</tr>

				<tr class="field row" v-for="card in cards">
					<td>
						<label :for="card.blips">{{ card.blips }}</label>
					</td>
					<td>
						<label :for="card.uid">{{ card.uid }}</label>
					</td>
					<td>
						<input type="text" v-model="card.value" @input="updateValue(card)" />
					</td>
					<td>
						<input type="text" v-model="card.title" @input="updateValue(card)" />
					</td>
					<td>
						<button @click="play(card)">Test</button>
					</td>
					<td>
						<button @click="remove(card)">Delete</button>
					</td>
				</tr>

			</table>

		</fieldset>

	</div>
</body>

</html>
